// Colors

$btn-color: #e84545;
$hover: #e24c47;
$team-border: #e8ecee;
$feature-t: #2d3033;
$feature-s: #6c7279;
$footer-top: #3a3e64;
$footer-bottom: #313454;
$slider: #53354a;
$footer-text: #808080;
$border: #515369;